<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Memory Book!</h1>
            <p>Share your memories with family and friends!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/memories/new">Add New Memory</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% memories.forEach(function(memory){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= memory.image %>">
                <div class="caption">
                    <h4><%= memory.title %></h4>
                </div>
                <p>
                    <a href="/memories/<%= memory._id %>" class="btn btn-primary">More Info</a>
                </p>
                
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>