<%- include("../partials/header") %>

<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-md-3 mb-4">
            <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                <label class="btn btn-outline-secondary active">
                    <input type="radio" name="options" id="option1" checked> Photo 1
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option2"> Photo 2
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option3"> Photo 3
                </label>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="<%= memory.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= memory.title %></h5>
                    <span class="float-right">10 days ago</span>
                    <p>
                        <em>Submitted By <%= memory.author.username %></em>
                    </p>
                    <hr>
                    <p class="card-text"><%= memory.description %></p>
                    <% if (currentUser && memory.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-sm btn-warning" href="/memories/<%= memory._id %>/edit"><i
                            class="fas fa-edit"></i></a>
                    <form id="delete-form" action="/memories/<%= memory._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <% }%>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/memories/<%= memory._id %>/comments/new"><i
                                class="fas fa-plus"></i> Add New
                            Comment</a>
                    </div>
                    <% if (memory.comments.length != 0) { %>
                    <hr>
                    <% } %>
                    <div class="row">
                        <% memory.comments.forEach(function(comment){ %>
                        <div class="col-md-12 mb-3">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                            <div>
                                <%= comment.text %>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="float-right">
                                    <a class="btn btn-sm btn-warning"
                                        href="/memories/<%=memory._id %>/comments/<%=comment._id %>/edit"><i
                                            class="fas fa-edit"></i></a>
                                    <form id="delete-form"
                                        action="/memories/<%=memory._id %>/comments/<%=comment._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>