<%- include("partials/header") %>
<h1><%=memory.title%></h1>

<img src="<%= memory.image %>">

<p><%= memory.description %></p>

<% memory.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<%- include("partials/footer") %>